body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f3b4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    font-size: 1.5rem;
    color: #4b5563;
    margin-bottom: 2rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}

.show-password {
    position: relative;
}

.show-password input {
    padding-right: 40px;
}

.show-password .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container input {
    margin-right: 0.5rem;
}

.forgot {
    display: block;
    margin-bottom: 1.5rem;
    color: #4b5563;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot:hover {
    text-decoration: underline;
}

.btn {
    background-color: #1f2937;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #003d75;
}
